@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.App {
  text-align: center;
}

.nav-link.active {
  background-color: #96bf24 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  border-right: 1px solid #f9f9f9;
  height: 100vh;
  box-shadow: 3px 0px 3px 0px rgba(249, 249, 249, 1);
}

.fill {
  min-height: 100%;
  height: 100%;
}

.slick-dots {
  top: -25px;
  bottom: initial;
}

.slick-next:before {
  position: absolute;
  right: 0;
  background-color: #96bf24;
  height: 50px;
  width: 70px;
  top: -50px;
  border-radius: 40% 0 0 40%;
  content: "\25B7";
  align-content: center;
  line-height: 40px;
  vertical-align: middle;
}

.slick-prev:before {
  position: absolute;
  left: -20px;
  background-color: #96bf24;
  height: 50px;
  width: 70px;
  top: -50px;
  border-radius: 0 40% 40% 0;
  content: "\25C1";
  align-content: center;
  line-height: 40px;
  vertical-align: middle;
}

.nav-link{
  margin-left: 10px;
  font-family: 'Lato', black;
  font-weight: 600;
  text-align: left;
  color: black;
  cursor: pointer;
}
table{
 text-align: center;
 margin-left:30px;
  margin-top:50px;
}
th{
  border:1px solid black;
  margin-left:30px;
}
td{
  border:1px solid green;
  margin-left:30px;
}
